img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
input {
  margin: 1rem;
  padding: 0.35rem 0.5rem;
  border-radius: .5rem;
  border: 2px solid black;
}
li {
  list-style: none;
}
body {
  background-color: rgb(196, 191, 191);
  text-align: center;
}
header {
  background-color: black;
  color: white;
}
h2 {
  background-color: black;
  color: white;
}
button {
  margin: 1rem;
  padding: .35rem;
  width: 150px;
}